.container-menu{
    background-color: #003C1B;
    height: 141px;
}
.img-logo{
    width: 271px;
    padding-top: 36px;
    margin-left: 27px;
}
.btn-outline-secondary{
    height: 38px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
    
}
input[type=text]::placeholder {
    color: #FFF;
}
.img-search {
    width: 20px;
}
.form-control{
    margin-top: 23px;
    margin-left: 40%;
}
.btn{
    margin-top: 23px;
}
.usuario{
    margin-top: 30px;
    margin-left: 1%;
    margin-right: 27px;
}
