.container-menu{
    background-color: #003C1B;
    height: 141px;
}
.img-logo{
    width: 271px;
    padding-top: 36px;
    margin-left: 27px;
}
.btn-outline-secondary{
    height: 38px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
    
}
input[type=text]::placeholder {
    color: #FFF;
}
.img-search {
    width: 20px;
}
.form-control{
    margin-top: 23px;
    margin-left: 40%;
}
.btn{
    margin-top: 23px;
}
.usuario{
    margin-top: 30px;
    margin-left: 1%;
    margin-right: 27px;
}
.sidebar{
    flex-direction: column;
    height: auto;
    
}
.sidebar2{
    width: 200px;
}
.right {
    padding: 40px;
}
.left {
    padding: 40px;
    background: #efefef;
}
section.content {
    display: flex;
}
.bgbuttons{
    background-color: #efefef;
}
.btn1{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 250px;
}
.btn2{
    width: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
}
.cursosgrad{
    font-weight: bold;
}
