.img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7rem;
}
.form-control{
    margin-top: 35px;    
}
.btn{
    height: 70px;
    width: 153px;
    margin-top: 38px;
    font-family: Helvetica, sans-serif;
}
.container{
    text-align: center;
}
.esqueceu{
    padding-top: 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
}
.container-menu{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.mensagemError{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    background-color: #003C1B;
    border-radius: 10px;
    border-color: #FFF;
    border-style: inset;
    text-align: center;
    font-size: 20px;
}

.mensagemError p{
    color: #FFFFFF;
}

